/* body {
    background-color: #161819;
    color: rgb(199, 190, 178);
} */

.tag-culinary {
    background: #32b643;
}

.tag-programming-languages {
    background: #3483dc;
}

.tag-functional {
    background: #e0713a;
}

.tag-latency {
    background: #e0713a;
}

.tag-exchange {
    background: #e0713a;
}

.tag-java {
    background: #e0713a;
}

.tag-software {
    background: #e0713a;
}

.tag-architecture {
    background: #e0713a;
}

.tag-benchmark {
    background: #e0713a;
}

.tag-memory {
    background: #e0713a;
}

.tag-testing {
    background: #e0713a;
}

.tag-DDD {
    background: #e0713a;
}

.tag-teams {
    background: #e0713a;
}

.tag-spring {
    background: #e0713a;
}

.tag-scalability {
    background: #e0713a;
}

.tag-serialization {
    background: #e0713a;
}

.tag-networking {
    background: #e0713a;
}

.tag-quality {
    background: #e0713a;
}

.tag-trunk-based {
    background: #e0713a;
}

.tag-TDD {
    background: #e0713a;
}

.tag-pair-programming {
    background: #e0713a;
}