/* body {
    background-color: #161819;
    color: rgb(199, 190, 178);
} */

.tag-culinary {
    background: #32b643;
}

.tag-programming-languages {
    background: #3483dc;
}

.tag-functional {
    background: #e0713a;
}

.tag-latency {
    background: #e0713a;
}

.tag-exchange {
    background: #e0713a;
}

.tag-java {
    background: #e0713a;
}
